PORT=3030
ENV=development
JWT_SECRET=your-jwt-secret

DB_USER=ur_database_user
DB_PASS=ur_database_password
DB_HOST=ur_database_host
DB_PORT=ur_database_port
DB_NAME=ur_database_name

FRONTEND_URL=http://localhost:3000

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URL=http://localhost:3030/auth/google/callback


